.main-container {
    display: grid;
    grid-template-columns: 1fr 300px; /* Content takes remaining space, profile fixed width */
    gap: 40px;
    padding: 50px 70px;
    min-height: 700px;
    margin-top: 10px;
}

.content_body .About_word {
    color: #181818;
    font-size: 48px;
    font-style: normal;
    text-align: left;
    color: #000;
    font-weight: 400;
    line-height: normal;
}

.content_body .About_life p{
    color: #181818;
    font-size: 20px;
    font-style: normal;
}

.profile {
    position: sticky;
    top: 100px;
    align-self: start; /* Aligns at the top */
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 300px; /* Content takes remaining space, profile fixed width */
    gap: 40px;
    padding: 50px 70px;
    min-height: 700px;
    margin-top: 10px;
}

.profile {
    position: sticky;
    top: 100px;
    align-self: start; /* Aligns at the top */
}