.folder_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.folder {
    width: 100%;
    max-width: 612px;
    height: auto;
    position: absolute;
    z-index: 1;
}

.folder_icon {
    position: absolute;
    z-index: 3;
    width: 90px;
    height: 60px;
    transition: transform 0.3s ease;
    cursor: pointer;

}

.folder_text {
    margin-top: 125px;
    position: absolute;
    z-index: 3;
    color: #000;
    line-height: normal;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}

.folder_icon:hover {
    transform: scale(1.2);
}